@charset "UTF-8";

.main {
  margin-bottom: 28px;
  min-height: calc(100vh - 158px - 115px - 50px);
}

.main h1 {
  margin-bottom: 29px;
}

article .container {
  display: flex;
  align-items: center;
}

article {
  padding: 28px 0;
}

article:nth-child(odd) {
  background-color: var(--gray-100);
}

article:nth-child(odd) img {
  margin-right: 69px;
}

article:nth-child(even) img {
  margin-left: 45px;
}

article p {
  font: 400 18px 'Inter', sans-serif;
  text-align: center;
}

article a {
  font: 700 12px 'Dosis', sans-serif;

  display: block;
  text-align: right;
  margin-top: 15px;
}
