@charset "UTF-8";

:root {
  --text-title: #885eff;
  --text-body: #b0b1b5;

  --background: #1f2729;
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --red: red;
  --blue:	rgb(0,191,255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding: 0 30px;

  background-color: var(--background);
  background-image: url('/_images/logo-brq.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 15%;
  background-attachment: fixed;

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: var(--text-body);
}

.title {
  color: var(--text-title);
  font-weight: 600;
  margin-bottom: 10px;
}

h1.title {
  font-size: 24px;
}

h2.title {
  font-size: 20px;
}

h3.title {
  font-size: 18px;
}

ol,
ul {
  margin-left: 30px;
  margin-top: 10px;
}

dl div {
  margin-top: 15px;
  padding: 5px;
}

.border {
  border: 1px solid var(--white);
}

.border.border__dashed {
  border-style: dashed;
}

.border.border__dotted {
  border-style: dotted;
}

.border.border__blue {
  border-color: var(--blue);
}

.border.border__red {
  border-color: var(--red);
}

.border.border__rounded {
  border-radius: 10px;
}

a {
  color: red;
  text-decoration: none;
  font-style: oblique;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  text-align: center;
  padding: 5px 20px;
}
