@charset "UTF-8";

:root {
  --text-title: #885eff;
  --text-body: #b0b1b5;

  --background: #1f2729;
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --red: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  background-image: url('/_images/logo-brq.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 15%;
  background-attachment: fixed; 

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: var(--text-body);
}

.title {
  color: var(--text-title);
  font-weight: 600;
}

h1.title {
  font-size: 24px;
}

h2.title {
  font-size: 20px;
}

h3.title {
  font-size: 18px;
}

ul,
ol,
dt,
dl {
  text-indent: 10px;
}

a {
  color: red;
  text-decoration: none;
  font-style: oblique;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  text-align: center;
  padding: 5px 20px;
}
