@charset "UTF-8";
@import url(./color.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding: 0 30px;

  background-color: var(--background);
  background-image: url('../_images/logo-brq.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 150px;
  background-attachment: fixed;

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: var(--text-body);
}

header {
  margin-top: 20px;
}

article {
  margin: 15px 0;
}

.title {
  color: var(--text-title);
  font-weight: 600;
  margin-bottom: 10px;
}

h1.title {
  font-size: 24px;
}

h2.title {
  font-size: 20px;
}

h3.title {
  font-size: 18px;
}

nav#menu h1 {
  display: none;
}

nav#menu ul {
  list-style: none;
  text-transform: uppercase;
  position: absolute;
  top: -10px;
  right: 200px;
}

nav#menu li {
  display: inline-block;
  padding: 5px;
}

nav#menu a {
  color: var(--blue);
  text-decoration: none;
  font-style: normal;
  font-size: 20px;
  transition: font-size 0.2s;
}

nav#menu a:hover {
  color: var(--orange);
  text-decoration: none;
  font-style: normal;
  font-size: 22px;
}

nav#menu a.menu__active {
  color: var(--orange);
}

ol,
ul {
  margin-left: 30px;
  margin-top: 10px;
}

dl div {
  margin-top: 15px;
  padding: 5px;
}

.border {
  border: 1px solid var(--white);
}

.border.border__dashed {
  border-style: dashed;
}

.border.border__dotted {
  border-style: dotted;
}

.border.border__blue {
  border-color: var(--blue);
}

.border.border__red {
  border-color: var(--red);
}

.border.border__rounded {
  border-radius: 10px;
}

a {
  color: var(--red);
  text-decoration: none;
  font-style: oblique;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  text-align: center;
  padding: 5px 20px;
}

button {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  cursor: pointer;
  background: var(--blue);
  height: 56px;
  border-radius: 10px;
  border: 0;
  padding: 0 16px;
  color: var(--white);
  width: 100%;
  font-weight: 500;
  margin-top: 20px;
  transition: background-color 0.2s;
}

button:hover {
  background-color: var(--orange);
}
